@import "./variables";
// font
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
// reset style and global style
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}
h1,
h2 {
  font-weight: 700;
  color: $cl_veryDarkGrayishBlue;
}
p {
  color: $cl_grayishBlue;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  transition: $transition;
}
